PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=resume_rag

MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY
MISTRAL_EMBED_MODEL=mistral-embed
EMBEDDING_DIMENSION=1024

USE_LLM_PARSER=false

GROQ_API_KEY=YOUR_GROQ_API_KEY
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

MAX_UPLOAD_SIZE_MB=5
